#contPrincipal{ 
    background-color: rgb(211, 224, 238); 
    border: 2px solid; 
    padding: 50px; 
    margin: 5px;
    /* width: 200px;  */
   
} 

 /* input,label{  */
    /* display:block;  */
    /* margin: 10px;  */
 /* }  */

h1 {
    color:rgb(63, 65, 187);
    font-family: Arial, Helvetica, sans-serif;
}

#contPrincipal button{
    border: 1px solid;
    padding: 5px; 
    background-color: rgb(152, 174, 230);
}