h1 {
    color:rgb(71, 16, 116);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


#divIngreso{
    text-align: center;
}

#tblDatos{
    width: 400px;
    margin: 20px auto;
    border-collapse: collapse;

}

#tblDatos td, #tblDatos th{
    border: 1px solid;
    padding: 5px;

}

#tblDatos thead th, #tablaDatos tfoot td{
    background-color: rgb(178, 178, 234);
    text-align: left;
}

#tblDatos tbody tr:nth-child(odd){
    background-color: rgb(219, 228, 244);
}

